body,html {
    width: 100%;
    margin: 0;
    padding: 0;
}
a {
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    background-image: url(../img/logo.jpg);
    background-size: 100% 100%;
    margin: 50px auto;
    border-radius: 10px;
}