header a {
	color: #fff;
	font-size: 22px;
	margin-left: 10px;
}
/*个人头像部分*/
.pro-pho {
	width: 1.3333rem;
	height: 1.3333rem;
	/* border: 1px solid #333; */
	margin: 0.2667rem auto 0;
}
.pro-pho img {
	width: 1.3333rem;
	height: 1.3333rem;
	border: 1px solid #88cb84;
	border-radius: 50%;

}
.pro-pho #uploadA {
	display: block;
	width: 1.3333rem;
	height: 1.3333rem;
	position: relative;
	top: -1.4633rem;
	/* border: 1px solid rgb(148, 69, 84); */
	opacity: 0;
	border-radius: 50%;
}
/* 个人昵称部分 */
 .app-word {
	 text-align: center;
 	 font-size: 0.3333rem;
 	 /* border: 1px solid #333; */
	 position: relative;
	 top: 0.1333rem;
	 left: -2.9333rem;
 }
.app-word p.username {
	font-size: 0.466666667rem;
	color: #88cb84;
	font-family: '微软雅黑';
	margin-top: 0.1333rem;
	
}
.app-word p:nth-child(2) {
	color: #999999;
	margin-top: 0.1333rem;
	
}
#app {
	box-shadow: 0.16rem 0.16rem 0.16rem #eef4e9; 
	width: 100%;
	height: 4rem;
	/*border: 1px solid lightblue;*/
}
/*标题列表部分*/
.melist {
	width: 90%;
	/*margin-top: 100px;*/
	/*border-collapse: collapse;*/
	margin: 1rem auto;
}
td {
	border: 0.04rem solid #eef4e9;
	text-align: center;
	width: 30%;
	height: 2.4rem;
	/*margin: 0 20px 0 0;*/
}
.melist td i {
	font-size: 0.6rem;
	margin-bottom: 0.13333333rem;
}
.melist td span {
	font-size: 0.3733333333333rem;

}
/*阴影线*/
/*.line {
	/*box-shadow: 0.36rem 0.36rem 0.36rem #eef4e9;*/ 
 	/*width: 98%;
 	border-bottom: 0.16rem solid #eef4e9;
 	margin-left: 2%;
 	position: relative;
 	top: -0.49333333333rem;
}*/
